@mixin bg-opacity($color, $opacity) {
     background-color: color-mix(in oklab, $color $opacity, transparent);
}

@mixin reset-button {
     border-radius: var(--radius);
     border: none;
     outline: none;
     cursor: pointer;
}