.trading-pairs {
    &__inner {
        padding: var(--card-padding);
        background-color: var(--card);
        border-radius: var(--radius);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
    }

    &__item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}