.trading-pair {
     display: flex;
     flex-direction: column;
     gap: 8px;
     padding: 12px;
     border-radius: var(--radius);
     background-color: var(--secondary);
     color: var(--foreground);
     border: 1px solid transparent;

     &__icon {
          flex-shrink: 0;
     }

     &__header {
          display: flex;
          align-items: center;
          gap: 8px;
     }

     &__bottom {
          display: flex;
          align-items: center;
          gap: 8px;
     }

     &__price,
     &__change {
          font-size: 0.75rem;
     }

     &--active {
          background-color: rgba(80, 200, 120, 0.2);
          color: var(--primary);
          border-color: var(--primary);
     }
}