.filter {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     background-color: var(--secondary);
     border-radius: var(--radius-md);
     padding: 0.25rem;

     &__button {
          background-color: transparent;
          color: var(--muted-foreground);

          &--active {
               background-color: var(--card);
               color: var(--foreground);
          }
     }
}