# FrontendTests

# Trading pairs

- Buttons implemented, working fine

# Graph, Orders, Trade history, etc.

- All implemented, working fine
- Ranges on graph not working

# Sell, Buy coins modal

- Implemented, sell & buy system doesn't work

# Shop, NFT

- All implemented, working fine

# Add funds

- Not implemented, doesn't work

# Game

- Implemented, working fine
- Leaderboard working fine
- Anticheat working fine

# Profile

- Avatar setting working
- Account info working
- Profile editing working, but can have some vulnerabilities
- Profile logout working
- Nft collection showing fine
