.game-page {
    &__inner {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
    }

    &__stats {
        display: flex;
        gap: 12px;
    }

    &__stat {
        display: flex;
        align-items: center;
        gap: 8px;

        &-icon {
            color: var(--primary);

            &--heart {
                color: var(--destructive);
            }
        }

        &-value {
            font-size: 1.25rem;
        }
    }

    &__leaderboard {
        &-header {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &-icon {
            color: var(--primary);
        }

        &-title {
            font-weight: 600;
        }
    }
}
