.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: var(--radius);
    border: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;

    &--variant {
        &-default {
            background-color: var(--primary);
            color: var(--primary-foreground);
            border-color: var(--button-border);
        }
        &-outline {
            background-color: transparent;
            color: var(--foreground);
            outline: 1px solid inherit;
        }
        &-destructive {
            background-color: var(--destructive);
            color: var(--foreground);
        }

        &-dark {
            background-color: var(--secondary);
            color: var(--muted-foreground);
        }
        &-outline-destructive {
            background: transparent;
            outline: 1px solid var(--destructive);
            color: var(--destructive);
        }
        &-transparent {
            background-color: transparent;
            color: var(--foreground);
        }
    }

    &--size {
        &-default {
            height: 36px;
            padding: 8px 16px;
        }

        &-sm {
            height: 32px;
            padding-inline: 16px;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
