.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: var(--radius);
    border: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;

    &--variant {
        &-default {
            background-color: var(--primary);
            color: var(--primary-foreground);
            border-color: var(--button-border);
        }
        &-outline {
            background-color: transparent;
            color: var(--foreground);
            border: 1px solid var(--button-border);
        }
        &-destructive {
            background-color: var(--destructive);
            color: var(--foreground);
        }

        &-dark {
            background-color: var(--secondary);
            color: var(--muted-foreground);
        }

        &-transparent {
            background-color: transparent;
            color: var(--foreground);
        }
    }

    &--size {
        &-default {
            height: 36px;
            padding: 8px 16px;
        }

        &-sm {
            height: 32px;
            padding-inline: 16px;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

/**
inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive
**/
