.profile-page {
     &__inner {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
     }

     &__registration-card {
          width: 100%;
          max-width: 500px;
          padding: 40px;
     }
}

