.profile-page {
     padding: 24px;

     &__inner {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 24px;

          @media (max-width: 768px) {
               grid-template-columns: 1fr;
          }
     }
}