.container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 1rem 1.5rem;
}

.subtitle {
     font-size: 1rem;
     color: var(--muted-foreground);
}

.card {
     background-color: var(--card);
     border: 1px solid var(--border);
     border-radius: 8px;
     padding: 16px;
}

.primary-text {
     font-size: 0.75rem;
     color: var(--muted-foreground);
}

.wallet-box {
     padding: 16px;
     border-radius: var(--radius);
     background-color: var(--card-wallet);

     &__content {
          display: flex;
          flex-direction: column;
          margin-top: 4px;
     }

     &__balance {
          color: var(--primary);
          text-shadow: 0 0 10px rgba(80, 200, 120, 0.5);
          font-size: 1.5rem;
          margin-top: 4px;
     }

     &__stat-value {
          font-size: 1.5rem;
     }
}