.nav {
     &__list {
          display: flex;
          align-items: center;
          gap: 24px;
     }

     &__link {
          color: var(--muted-foreground);
          border-bottom: 2px;

          &:hover {
               padding-bottom: 4px;
               border-bottom: 2px solid var(--primary);
          }

          &--active {
               padding-bottom: 4px;
               border-bottom: 2px solid var(--primary);
          }
     }
}