.filter {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     background-color: var(--secondary);
     border-radius: var(--radius);
     padding: 0.25rem;

     &__button {
          @include button;

          background: transparent;
          font-weight: 500;

          &--active {
               background-color: var(--card);
               color: var(--foreground);
          }
     }
}