.login-page {
    padding: var(--card-padding);

    &__content {
        padding: 40px;
        max-width: 400px;
        width: 100%;
        margin-inline: auto;
        border-radius: var(--radius);
        background-color: var(--card);
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    &__switch {
        display: flex;
        gap: 16px;
        background: var(--secondary);
        padding: 4px;
        border-radius: var(--radius);
    }

    &__switch-btn {
        padding: 10px 24px;
        border-radius: calc(var(--radius) - 4px);
        border: none;
        background: transparent;
        color: var(--text-muted);
        font-weight: 500;
        cursor: pointer;
        transition: 
            background-color 0.2s ease,
            color 0.2s ease;

        &--active {
            background-color: var(--card);
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 24px;
    }

    &__logo {
        width: 76px;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--primary);
        border-radius: 50%;
        background-color: var(--primary);
    }
}
