.trading-panel {
     grid-column: span 3;

     &__filter button {
          text-align: left;
     }

     &__form {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 16px;
     }

     &__form-block {
          display: flex;
          flex-direction: column;
          gap: 16px
     }

     &__form-label {
          font-size: 0.875rem;
          color: var(--muted-foreground);
     }

     &__submit-button {
          @include button;

          width: 100%;
          background-color: var(--primary);
          color: var(--primary-foreground);
          box-shadow: var(--emerald-shadow);

          &:hover {
               background-color: var(--emerald-hover);
          }
     }

     /* info block */

     &__info {
          margin-top: 16px;
          padding-top: 16px;
          border-top: 1px solid var(--border);
          display: flex;
          flex-direction: column;
          gap: 8px;
     }

     &__info-row {
          display: flex;
          justify-content: space-between;
     }

     &__info-label {
          color: var(--muted-foreground);
     }

     &__info-label,
     &__info-value {
          font-size: 0.875rem;
     }
}